# .gitignore for microtype

microtype.sty
microtype.lua
microtype-luatex.def
microtype-pdftex.def
microtype-xetex.def
letterspace.sty
test-microtype.tex

*.cfg
*.log
*.aux

microtype.zip
microtype.pdf

tests/*
